@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  h1, h2, h3, .font-serif-luxury {
    font-family: 'Cinzel', serif;
  }
}

.bg-pattern {
  background-color: #0f172a;
  background-image: radial-gradient(rgba(212, 175, 55, 0.08) 1px, transparent 0);
  background-size: 24px 24px;
}

